/*================= Checkbox ====================*/

.checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  position: relative;
  margin: 5px;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  cursor: pointer;
}

.checked {
   border-radius: 50%;
 }

.checked::after {
   content: 'check';
   position: absolute;
   display: inline-block;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   text-align: center;
 }
